<div class='row'>
  <div class="large-8 large-centered columns">
    <fieldset>
       <%= simple_nested_form_for @item, :html => { :class => 'form-horizontal' } do |l| %>

<% if item.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

    <ul>
    <% item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render :partial => "items/item_fields", :locals => { :l => l} %>

   <legend>Aliases</legend>
      <div id="aliases">
        <%= l.simple_fields_for :aliases do |a| %>
          <%= render :partial => "items/alias_field", :locals => { :l => a} %>
        <% end %>
        <p>
          <br /><%= l.link_to_add("Add Alias", :aliases, :class => 'button tiny') %>
        </p>
      </div>

  <%= l.submit nil, :class => 'button radius' %>

<% end %>
    </fieldset>
  </div>
</div>
